<?xml version="1.0" encoding="utf-8" ?>
<!--
Project Name: Lab 1 - Exercise 5 String Methods | File Name: App.config
Author Name: Samuel Steven David Herring
Author URI: http://sherring.me
UserID: sh1042
Created On: 31/1/2018 | 18:25
Last Updated On:  1/2/2018 | 20:00
-->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>